@model RightoGo.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}


<ul class="breadcrumb">
    <li class="active">Home</li>
</ul>

<div class="jumbotron">
    <h1>
        Hello and welcome to RightoGo!
    </h1>
</div>

<div>
    <p>
        Here you can learn more about international law, post your own works, review teacher's articles and much more!
    </p>
</div>

<h2> Here are the latest articles: </h2>
@foreach (var article in Model.Articles)
{
    <div class="jumbotron">
        <h3>
            <b>Title: </b> @Html.ActionLink((string)article.Title, "Details", "Articles", new { area = string.Empty, id = article.Id }, null)
        </h3>
        <br />
        <small>
            <b>Topic:</b>  @Html.ActionLink((string)article.Topic.Value, "All", "Articles", new { area = string.Empty, topicFilter = article.Topic.Value }, null)
        </small>
        <br />
        <div class="more">
            <h4>Content</h4>
            @article.Content
        </div>
        <br />
        @if (article.RelatedArticles.Count() > 0)
        {
            <div>
                Related to: @foreach (var relatedArticle in article.RelatedArticles)
                {
                    <span>@Html.ActionLink((string)relatedArticle.Title, "Details", "Articles", new { area = string.Empty, id = relatedArticle.Id }, null)</span>
                }
            </div>
            <br />
        }
        <small>
            @Html.ActionLink((string)article.CreatedBy.UserName, "ById", new { id = article.CreatedBy.Id, controller = "Users" }) has writen this on @article.CreatedOnFormated
        </small>
    </div>
}

@section scripts {
    <script>
        $(document).ready(function () {
            var showChar = 300;
            var ellipsestext = "...";
            var moretext = "more";
            var lesstext = "less";
            $('.more').each(function () {
                var content = $(this).html();

                if (content.length > showChar) {

                    var c = content.substr(0, showChar);
                    var h = content.substr(showChar - 1, content.length - showChar);

                    var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span style="display: none;">' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

                    $(this).html(html);
                }

            });

            $(".morelink").click(function () {
                if ($(this).hasClass("less")) {
                    $(this).removeClass("less");
                    $(this).html(moretext);
                } else {
                    $(this).addClass("less");
                    $(this).html(lesstext);
                }
                $(this).parent().prev().toggle();
                $(this).prev().toggle();
                return false;
            });
        });
    </script>
}