@model RightoGo.Web.ViewModels.Articles.AllArticlesViewModel

@{
    ViewBag.Title = "All Articles";
}
<br /> 
@*Add sort/order/filter*@

@foreach (var article in Model.Articles)
{
    <div class="jumbotron">
        <h3>
            @Html.ActionLink((string)article.Title, "Details", "Articles", new { area = string.Empty, id = article.Id }, null)
        </h3>
        <br />
        <small>
            @Html.ActionLink((string)article.Topic.Value, "All", "Articles", new { area = string.Empty, filterByTopic = article.Topic.Value }, null)
        </small>
        <br />
        <div class="more">
            @article.Content
        </div>
        <br />
        @if (article.RelatedArticles.Count() > 0)
        {
            <div>
                Related to: @foreach (var relatedArticle in article.RelatedArticles)
                    {
                    <span>@Html.ActionLink((string)relatedArticle.Title, "Details", "Articles", new { area = string.Empty, id = relatedArticle.Id }, null)</span>
                }
            </div>
                <br />
        }
        <small>@article.CreatedBy.UserName has writen this on @article.CreatedOnFormated</small>
    </div>
}

<nav>
    <ul class="pagination text-center">
        @if (Model.Page - 1 > 0)
            {
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            var className = "";
            if (Model.Page == i)
            {
                className = "active";
            }

            <li class="@className">@Html.ActionLink(i.ToString(), "All", new { area = string.Empty, page = i, pageSize = Model.PageSize, filterByTopic = Model.FilterBy, orderBy = Model.OrderBy, sortBy = Model.SortBy }, null )</li>
        }
        @if (Model.Page + 1 <= Model.TotalPages)
            {
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</nav>

@section scripts {
    <script>
        $(document).ready(function () {
            var showChar = 300;
            var ellipsestext = "...";
            var moretext = "more";
            var lesstext = "less";
            $('.more').each(function () {
                var content = $(this).html();

                if (content.length > showChar) {

                    var c = content.substr(0, showChar);
                    var h = content.substr(showChar - 1, content.length - showChar);

                    var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span style="display: none;">' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

                    $(this).html(html);
                }

            });

            $(".morelink").click(function () {
                if ($(this).hasClass("less")) {
                    $(this).removeClass("less");
                    $(this).html(moretext);
                } else {
                    $(this).addClass("less");
                    $(this).html(lesstext);
                }
                $(this).parent().prev().toggle();
                $(this).prev().toggle();
                return false;
            });
        });
    </script>
}