@model RightoGo.Web.ViewModels.Articles.ArticleViewModel
@{
    ViewBag.Title = "Details";
}


<ul class="breadcrumb">
    <li><a href="@Url.Action("Index","Home", new { area =string.Empty})">Home</a></li>
    <li><a href="@Url.Action("All","Articles", new { area = string.Empty })">Articles</a></li>
    <li class="active">Details</li>
</ul>

<div class="jumbotron">
    <h3>
       <b>Title: </b> @Model.Title
    </h3>
    <br />
    <small>
       <b>Topic: </b> @Html.ActionLink((string)Model.Topic.Value, "All", "Articles", new { area = string.Empty, filterByTopic = @Model.Topic.Value }, null)
    </small>
    <br />
    <div class="more">
        <h4>Content</h4>
        @Html.Raw(Model.SanitizedContent);
    </div>
    <br />
    @if (@Model.RelatedArticles.Count() > 0)
    {
        <div>
            Related to: @foreach (var relatedModel in @Model.RelatedArticles)
            {
                <span>@Html.ActionLink((string)relatedModel.Title, "Details", "Articles", new { area = string.Empty, id = relatedModel.Id }, null)</span>
            }
        </div>
        <br />
    }
    <small>@Model.CreatedBy.UserName has writen this on @Model.CreatedOnFormated</small>
</div>

<a class="btn btn-primary" href="@Url.Action("All","Articles", new { area = string.Empty })">Back</a>