@model RightoGo.Web.Areas.Student.Models.AddWorkViewModel

@{
    ViewBag.Title = "Add Work";
}

<ul class="breadcrumb">
    <li><a href="@Url.Action("Index","Home", new { area =string.Empty})">Home</a></li>
    <li><a href="@Url.Action("Index","Works", new { area = "Student" })">Works</a></li>
    <li class="active">Add</li>
</ul>

<h2>@ViewBag.Title.</h2>
@{
    var selectedListUniversities = Model.Topics.Select(u => new SelectListItem() { Text = u.Value, Value = u.Id.ToString() });
}
@Html.Partial("TinyMCEPartial")
@using (Html.BeginForm("Add", "Works", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Add a new work.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TopicId, "Topic", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.TopicId, selectedListUniversities, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Content, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Add" />
            <a class="btn btn-primary" href="@Url.Action("Index","Works", new { area = "Student" })">Back</a>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
