@model RightoGo.Web.Areas.Student.Models.WorkViewModel

@{
    ViewBag.Title = "Details";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-2 centered table-bordered">
            <div>
                <span data-id="@Model.Id" data-action="up">
                    @{
                        var src = "~../../../../../Content/imgs/e-like-";
                        if (Model.Likes.Any(l => l.VoterName == this.User.Identity.Name && l.VoteType == 1))
                        {
                            src += "selected.png";
                        }
                        else
                        {
                            src += "not-selected.png";
                        }

                        <img data-id="@Model.Id" data-info="like" src="@src" class="like-controls" />
                    }
                </span>
            </div>
            <div>Likes: <span class="badge" data-id="@Model.Id" data-action="likesCount">@Model.LikesCount</span></div>
            <div>
                <span data-id="@Model.Id" data-action="down">
                    @{
                        src = "~../../../../../Content/imgs/e-dislike-";
                        if (Model.Likes.Any(l => l.VoterName == this.User.Identity.Name && l.VoteType == -1))
                        {
                            src += "selected.png";
                        }
                        else
                        {
                            src += "not-selected.png";
                        }

                        <img data-id="@Model.Id" data-info="dislike" src="@src" class="like-controls" />
                    }
                </span>
            </div>
        </div>
        <div class="col-md-10">
            <h3>
                @Html.ActionLink((string)Model.Title, "Details", "Works", new { area = "Student", id = Model.Id }, null)
            </h3>
            <br />
            <small>
                @Html.ActionLink((string)Model.TopicName, "Index", "Works", new { area = "Student", filterByTopic = Model.TopicName }, null)
            </small>
            <br />
            <div class="more">
                @Html.Raw(Model.SanitizedContent)
            </div>
            <br />
            <small>@Model.CreatedBy.UserName has writen this on @Model.CreatedOnFormatted</small>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $("span[data-action='up']").click(function () {
            var id = $(this).attr("data-id");
            $.post("/Likes/VoteWork", { workId: id, likeType: 1 },
                function (data) {
                    var newLikesCount = data.Count;
                    $("span[data-action='likesCount'][data-id='" + id + "']").html(newLikesCount);
                    var src = $("img[data-info='dislike'][data-id='" + id + "']").attr('src');

                    if (src.indexOf("not-selected") > 0) {
                        // If dislike is not selected, select dislike.
                        var result = $("img[data-info='like'][data-id='" + id + "']").attr('src').replace("not-selected", "selected");
                        $("img[data-info='like'][data-id='" + id + "']").attr('src', result);
                    } else {
                        // If dislike is selected, deselect
                        result = src.replace("selected", "not-selected");
                        $("img[data-info='dislike'][data-id='" + id + "']").attr('src', result);
                    }
                });

        });
        $("span[data-action='down']").click(function () {
            var id = $(this).attr("data-id");
            $.post("/Likes/VoteWork", { workId: id, likeType: -1 },
                function (data) {
                    var newLikesCount = data.Count;
                    $("span[data-action='likesCount'][data-id='" + id + "']").html(newLikesCount);
                    var src = $("img[data-info='like'][data-id='" + id + "']").attr('src');

                    if (src.indexOf("not-selected") > 0) {
                        // If like is not selected, select dislike.
                        var result = $("img[data-info='dislike'][data-id='" + id + "']").attr('src').replace("not-selected", "selected");
                        $("img[data-info='dislike'][data-id='" + id + "']").attr('src', result);
                    } else {
                        // If like is selected, deselect
                        result = src.replace("selected", "not-selected");
                        $("img[data-info='like'][data-id='" + id + "']").attr('src', result);
                    }
                });

        });
    </script>
}
