@model RightoGo.Web.Areas.Administration.Models.AdmTest.AdminTestViewModel

<div>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Edit the article.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Id, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Id, new { @class = "form-control", disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.TopicId, "Topic", new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.DropDownListFor(m => m.TopicId, Enumerable.Empty<SelectListItem>(), "-- Loading Values --", new { @class = "form-control", id = "topic-drop-down" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CreatedOn, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.CreatedOn, new { @class = "form-control", disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CreatorName, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.CreatorName, new { @class = "form-control", disabled = "disabled" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ModifiedOn, new { @class = "col-md-2 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.ModifiedOn, new { @class = "form-control", disabled = "disabled" })
            </div>
        </div>
    }
</div>
<script>
        $(function () {
            $.get('/Topics/AllJson', function (result) {
                var ddl = $('#topic-drop-down');
                ddl.empty();
                console.log(result.topics);
                $(result.topics).each(function () {
                    var $this = this;

                    $(document.createElement('option'))
                        .attr('value', $this.Id)
                        .text($this.Value)
                        .appendTo(ddl);
                });
            });
        });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    
}