@model RightoGo.Web.Areas.Student.Models.IndexViewModel

@{
    ViewBag.Title = "All Works";
}
<br />
@*Add sort/order/filter*@

<div>
    @{
        List<SelectListItem> orderByList = new List<SelectListItem>() {
                new SelectListItem() { Value = "asc", Text = "Ascending" },
                new SelectListItem() { Value = "desc", Text = "Descending"                }
            };

        List<SelectListItem> sortByList = new List<SelectListItem>();
        sortByList.Add(new SelectListItem() { Value = "name", Text = "Title" });
        sortByList.Add(new SelectListItem() { Value = "date", Text = "Dates" });

    }

    @using (Html.BeginForm("All", "Articles", new { sortBy = Model.PagingInfo.SortBy, orderBy = Model.PagingInfo.OrderBy }, FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
    {
        <!--Add sortBy, etc-->
        <div class="form-group">
            @Html.LabelFor(m => Model.PagingInfo.SortBy, "Sort By:", new { @class = "col-md-1 control-label" })
            <div class="col-md-10">
                @Html.DropDownList("SortBy", sortByList, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => Model.PagingInfo.OrderBy, "Order By:", new { @class = "col-md-1 control-label" })
            <div class="col-md-10">
                @Html.DropDownList("OrderBy", orderByList, new { @class = "form-control" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(m => Model.PagingInfo.SearchInput, "Search:", new { @class = "col-md-1 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => Model.SearchInput, null, new { @class = "form-control" })
                </div>
            </div>*@
        <input class="btn btn-default" type="submit" value="Search" />
    }
    <br />
</div>

@foreach (var work in Model.Works)
{
    <div class="jumbotron">
        <h3>
            @Html.ActionLink((string)work.Title, "Details", "Articles", new { area = string.Empty, id = work.Id }, null)
        </h3>
        <br />
        <small>
            @Html.ActionLink((string)work.TopicName, "All", "Articles", new { area = string.Empty, filterByTopic = work.TopicName }, null)
        </small>
        <br />
        <div class="more">
            @work.Content
        </div>
        <br />
        <small>@work.CreatedBy.UserName has writen this on @work.CreatedOnFormatted</small>
    </div>
}

@Html.Partial("_PagingPartial", @Model.PagingInfo)

@section scripts {
    <script>
        $(document).ready(function () {
            var showChar = 300;
            var ellipsestext = "...";
            var moretext = "more";
            var lesstext = "less";
            $('.more').each(function () {
                var content = $(this).html();

                if (content.length > showChar) {

                    var c = content.substr(0, showChar);
                    var h = content.substr(showChar - 1, content.length - showChar);

                    var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span style="display: none;">' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

                    $(this).html(html);
                }

            });

            $(".morelink").click(function () {
                if ($(this).hasClass("less")) {
                    $(this).removeClass("less");
                    $(this).html(moretext);
                } else {
                    $(this).addClass("less");
                    $(this).html(lesstext);
                }
                $(this).parent().prev().toggle();
                $(this).prev().toggle();
                return false;
            });
        });
    </script>
}