@model RightoGo.Web.Areas.Student.Models.IndexViewModel

@{
    ViewBag.Title = "All Works";
}
<br />
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index","Home", new { area =string.Empty})">Home</a></li>
    <li class="active">Works</li>
</ul>

@Html.Partial("_SearchPartial", Model.PagingInfo)
<br />
<br />


<div class="container">
    @foreach (var work in Model.Works)
    {
        <div class="jumbotron">
            <h3>
                <b>Title: </b> @Html.ActionLink((string)work.Title, "Details", "Works", new { area = "Student", id = work.Id }, null)
            </h3>
            <br />
            <small>
                <b>Topic: </b> @Html.ActionLink((string)work.TopicName, "Index", "Works", new { area = "Student", filterByTopic = work.TopicName }, null)
            </small>
            <br />
            <div class="more">
                <h4>Content</h4>
                <div class="container table-bordered">
                    @Html.Raw(work.SanitizedContent)
                </div>
            </div>
            <br />
            <small>@work.CreatedBy.UserName has writen this on @work.CreatedOnFormatted</small>
        </div>
    }
</div>
@Html.Partial("_PagingPartial", @Model.PagingInfo)

@section scripts {
    <script>
        $(document).ready(function () {
            var showChar = 300;
            var ellipsestext = "...";
            var moretext = "more";
            var lesstext = "less";
            $('.more').each(function () {
                var content = $(this).html();

                if (content.length > showChar) {

                    var c = content.substr(0, showChar);
                    var h = content.substr(showChar - 1, content.length - showChar);

                    var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span style="display: none;">' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

                    $(this).html(html);
                }

            });

            $(".morelink").click(function () {
                if ($(this).hasClass("less")) {
                    $(this).removeClass("less");
                    $(this).html(moretext);
                } else {
                    $(this).addClass("less");
                    $(this).html(lesstext);
                }
                $(this).parent().prev().toggle();
                $(this).prev().toggle();
                return false;
            });
        });
    </script>
}