@using Kendo.Mvc.UI

@section kendo {
    @Scripts.Render("~/bundles/kendoJS")
}

@{
    ViewBag.Title = "Articles Administration";
}


<ul class="breadcrumb">
    <li><a href="@Url.Action("Index","Home", new { area =string.Empty})">Home</a></li>
    <li><a href="@Url.Action("Index", new { area = "Administration", controller="Home" })">Admin</a></li>
    <li class="active">Adminster Articles</li>
</ul>

<h1>@ViewBag.Title</h1>

@(Html.Kendo().Grid<RightoGo.Web.Areas.Administration.Models.AdmArti.AdminArticleViewModel>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(c => c.Title);
          columns.Bound(c => c.TopicName).Title("Topic");
          columns.Bound(c => c.IsPrivate).Title("Private");
          columns.Bound(c => c.CreatedOn).Title("Created On");
          columns.Bound(c => c.ModifiedOn).Title("Modified On");
          columns.Bound(c => c.CreatorName).Title("Creator");
          columns.Command(command => { command.Edit(); command.Destroy(); }).Width(180);
      })
      .HtmlAttributes(new { style = "height: 400px" })
      .Editable(editable =>
      {
          editable.Mode(GridEditMode.PopUp);
          editable.DisplayDeleteConfirmation("Are you completely sure?");
      })
      .Pageable()
      .Sortable(sortable =>
      {
          sortable.SortMode(GridSortMode.SingleColumn);
      })
      .Filterable()
      .Scrollable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .Events(events => events.Error("grid_error"))
          .Events(events => events.RequestEnd("handle_End"))
          .Model(model => model.Id(p => p.Id))
          .Read(read => read.Action("Articles_Read", "AdminArticles"))
          .Update(update => update.Action("Articles_Update", "AdminArticles"))
          .Destroy(destroy => destroy.Action("Articles_Destroy", "AdminArticles"))
      )
)

@Html.Partial("_KendoAlertsPartial")