@using Kendo.Mvc.UI

@section kendo {
    @Scripts.Render("~/bundles/kendoJS")
}

@{
    ViewBag.Title = "Universities Administration";
}

<ul class="breadcrumb">
    <li><a href="@Url.Action("Index","Home", new { area =string.Empty})">Home</a></li>
    <li><a href="@Url.Action("Index", new { area = "Administration", controller="Home" })">Admin</a></li>
    <li class="active">Administer Universities</li>
</ul>

<h1>@ViewBag.Title</h1>

@(Html.Kendo().Grid<RightoGo.Web.Areas.Administration.Models.AdmUni.AdminUniversityViewModel>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(c => c.Id);
          columns.Bound(c => c.Name);
          columns.Bound(c => c.CreatedOn).Title("Created On");
          columns.Bound(c => c.ModifiedOn).Title("Modified On");
          columns.Command(command => { command.Edit(); command.Destroy(); }).Width(180);
      })
      .ToolBar(toolbar => toolbar.Create())
      .HtmlAttributes(new { style = "height: 400px" })
      .ColumnMenu()
      .Editable(editable =>
      {
          editable.Mode(GridEditMode.PopUp);
          editable.DisplayDeleteConfirmation("Are you completely sure?");
      })
      .Pageable()
      .Sortable(sortable =>
      {
          sortable.SortMode(GridSortMode.SingleColumn);
      })
      .Filterable()
      .Scrollable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .Events(events => events.Error("grid_error"))
          .Events(events => events.RequestEnd("handle_End"))
          .Model(model => model.Id(p => p.Id))
          .Create(create => create.Action("Universities_Create", "AdminUniversities"))
          .Read(read => read.Action("Universities_Read", "AdminUniversities"))
          .Update(update => update.Action("Universities_Update", "AdminUniversities"))
          .Destroy(destroy => destroy.Action("Universities_Destroy", "AdminUniversities"))
      )
)

@Html.Partial("_KendoAlertsPartial")