@using Kendo.Mvc.UI

@section kendo {
    @Scripts.Render("~/bundles/kendoJS")
}

@{
    ViewBag.Title = "Topics Administration";
}

<ul class="breadcrumb">
    <li><a href="@Url.Action("Index","Home", new { area =string.Empty})">Home</a></li>
    <li><a href="@Url.Action("Index", new { area = "Administration", controller="Home" })">Admin</a></li>
    <li class="active">Administer Topics</li>
</ul>

<h1>@ViewBag.Title</h1>

@(Html.Kendo().Grid<RightoGo.Web.Areas.Administration.Models.AdmTopic.AdminTopicViewModel>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(c => c.Id);
          columns.Bound(c => c.Value);
          columns.Bound(c => c.CreatedOn);
          columns.Bound(c => c.ModifiedOn);
          columns.Command(command => { command.Edit(); command.Destroy(); }).Width(180);
      })
      .ToolBar(toolbar =>
      {
          toolbar.Create();
      })
      .HtmlAttributes(new { style = "height: 400px" })
       .Editable(editable =>
       {
           editable.Mode(GridEditMode.PopUp);
           editable.DisplayDeleteConfirmation("Are you completely sure?");
       })
      .Pageable()
      .Sortable(sortable =>
      {
          sortable.SortMode(GridSortMode.SingleColumn);
      })
      .Scrollable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .Events(events => events.Error("grid_error"))
          .Events(events => events.RequestEnd("handle_End"))
          .Model(model => model.Id(p => p.Id))
          .Read(read => read.Action("Topics_Read", "AdminTopics"))
          .Create(create => create.Action("Topics_Create", "AdminTopics"))
          .Update(update => update.Action("Topics_Update", "AdminTopics"))
          .Destroy(destroy => destroy.Action("Topics_Destroy", "AdminTopics"))
      )
)

@Html.Partial("_KendoAlertsPartial")